<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>SustainApp Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/js/ng-app.js"></script>
</head>
<body ng-app="SA-Admin">
  <div class="container">
    <ui-view></ui-view>
  </div>
</body>
</html>
