div.companyListing {
  margin: 10px 0 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #106333;
}


div.errorDiv {
  background-color: #f2dede;
  border: 2px solid red;
  padding: 6px 12px;
  border-radius: 8px;
}

.btnStd {
  background-color: #8BC63F;
  margin: 5px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 2px solid #106333;
  width: 180px;
  // height: 38px;
  text-align: center;
  line-height: inherit;
}
