<div>
  Company ID: {{ company.companyID }}
  <br>

  Display Name: <strong>{{ company.company }}</strong>
  <br>
  Update Name: <input type="text" name="updateName" ng-model="textName">
  <button type="submit" ng-click="updateName()">Save</button>
  <br>

  Aliases:
  <ul>
    <li ng-repeat="(index, alias) in company.alias">
      {{ alias.alias }}
      <img src="/images/remove.png" style="vertical-align:middle;cursor:pointer" ng-click="removeAlias(index)">
    </li>
  </ul>
  <input type="text" ng-model="newAlias">
  <button type="submit" ng-click="addAlias()">Add alias</button>
  <br>

  Categories:
  <ul>
    <li ng-repeat="cat in company.categories">{{ cat.title }}</li>
  </ul>

  <div ng-show="updateErr.type" class="errorDiv">
    {{ updateErr.type }} was not updated because:
    <br>
    {{ updateErr.text }}
  </div>
</div>

<pre>{{company|json}}</pre>
