<div>
  Company ID: {{ company.companyID }}
  <br>

  Display Name: <strong>{{ company.company }}</strong>
  <br>
  Update Name: <input type="text" name="updateName" ng-model="textName">
  <button type="submit" ng-click="updateName()">Save</button>
  <br>

  Aliases:
  <ul>
    <li ng-repeat="(index, alias) in company.alias">
      {{ alias.alias }}
      <img src="/images/remove.png" style="vertical-align:middle;cursor:pointer" ng-click="removeAlias(index)">
    </li>
  </ul>
  <input type="text" ng-model="newAlias">
  <button type="submit" ng-click="addAlias()">Add alias</button>
  <br>

  Categories:
  <div ng-repeat="(index, cat) in company.categories">
    {{ cat.title }}
    <img src="/images/remove.png" style="vertical-align:middle;cursor:pointer" ng-click="removeCategory(index)">
  </div>
  <br>
  <select ng-model="newCat">
    <option ng-repeat="c in categories" value="{{ c.pkey }}">{{ c.title }}</option>
  </select>
  <button type="submit" ng-click="addCategory(newCat)">Add category</button>

  <div ng-show="updateErr.type" class="errorDiv">
    {{ updateErr.type }} was not updated because:
    <br>
    {{ updateErr.text }}
  </div>
</div>
